.header {
    background-color: #99CCFF;
    font-family: arial;
    border: 2px solid blue;
    border-radius: 3px;
    width: 1000px;
    height: 200px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

h1 {
    font-weight: bold;
    font-size: 25px;
    margin: 3px;
    color: black;
}

textarea {
    height: 36px;
    width: 250px;
    position: relative;
    margin-left: 350px;
}

.TwtButton {
    position: relative;
    top: -18px;
}
  
.tweetspace {
    background-color: white;
    font-family: times;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

button{
    display: inline-block;
    height: 18px;
    width: 130px;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
  }

.active {
    color: white;
    background: blue;
    border: 1px solid white;
  }

.inactive {
    background: grey;
    border: 1px solid black;
    color: black;
    font-weight: normal;
}

body {
    background-color: #E0FFFF;
} 

.draft {
    width: 123px;
    margin-left:5px;
}

.tweet {
    position: relative;
    height: 90px;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;    
    border: 1px solid black;
    border-radius: 5px;
    background: -moz-linear-gradient(top,  #FFFFFF,  #E3F1FA);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E3F1FA));


}

.FTheader {
    position: absolute; 
    top: 10px; 
    left: 90px;
}

.FTpic{
    position: absolute;
    height:70px; 
    width:70px; 
    margin-top: 8px;
    margin-left: 5px;
    border: 2px solid gray;
    border-radius: 3px;
}

.FTtext{
    position: absolute;
    left: 90px;
    top: 35px;
    font-size: 16px;
    font-family: arial;
    word-wrap: break-word;
}

.FThandle{
    color: gray;
    font-size: 15px;
}

.FTauthor{
    font-weight: bold;
    font-size: 18px;
}

.FTtimestamp{
    font-size: 13px;
    color: gray;
}

