.header {
    background-color: #99CCFF;
    font-family: arial;
    border: 3px solid blue;
    border-radius: 8px;
    width: 900px;
    height: 220px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    font-weight: bold;
    font-size: 25px;
    margin: 3px;
    color: black;
}
  
.tweetspace {
    background-color: #CCFFCC;
    font-family: times;
    border: 3px solid lightgreen;
    border-radius: 8px;
    height: 382px;
    width: 650px;
    overflow: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }

button{
    display: inline-block;
    height: 18px;
    width: 130px;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
  }

.active {
    color: white;
    background: blue;
    border: 1px solid white;
  }

.inactive {
    background: grey;
    border: 1px solid black;
    color: black;
    font-weight: normal;
}

body {
    background-color: #E0FFFF;
} 

.draft {
    width: 123px;
    margin-left:5px;
}

.tweet {
    position: relative;
    height: 90px;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;    
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

}

.FTheader {
    position: absolute; 
    top: 10px; 
    left: 90px;
}

.FTpic{
    position: absolute;
    height:70px; 
    width:70px; 
    margin-top: 8px;
    margin-left: 5px;
    border: 2px solid gray;
    border-radius: 3px;
}

.FTtext{
    position: absolute;
    left: 90px;
    top: 35px;
    font-size: 16px;
    font-family: arial;
}

.FThandle{
    color: gray;
    font-size: 15px;
}

.FTauthor{
    font-weight: bold;
    font-size: 18px;
}

.FTtimestamp{
    font-size: 16px;
}

