 .header {
        background-color: aliceblue;
        font-family: arial;
        border: 3px solid black
        border-radius: 8px
      }
      .tweetspace {
        background-color: #CCFFCC;
        font-family: times;
        border: 3px solid lightgreen;
        border-radius: 8px;
        height: 200px;
        overflow: auto;
      }

      button {
        display: inline-block;
        height: 18px;
        width: 130px;
        background: grey;
        border: 2px solid black;
        color: black;
        text-align: center;
        margin-left: 8px;
        border-radius: 5px;
      }

      .active {
        color: white;
        background: blue;
        border: 2px solid blue;
      }
